body {
    background-color: rgb(158, 158, 158);
    text-align: center;
    padding: 20px;
}

h1 {
    color:black;
    margin-top: 20px;
    margin-bottom: 30px;
    height: 50px;
    padding-top: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card {
    background-color: white;
    display: inline-block;
    width: 200px;
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 2px solid #ccc;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 6px 25px rgba(0,0,0,0.2);
}

.card h3{
    color: red;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card h2{
    color: black;
    font-size: 21px;
    font-family:'Times New Roman', Times, serif;
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}