.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.orange{
    background-color: orangered;
    width: 100%;
    height: 200px;
}
.white{
    background-color: white;
    width: 100%;
    height: 200px;
}
.green{
    background-color: green;
    width: 100%;
    height: 200px;
}